@(kindergartenForm: Form[KindergartenFormData], sysMessage: String)(implicit messages: play.api.i18n.Messages)

@main("Welcome to our Family of Familis") {
	  @contener {
	      <div class="sysmessage">@sysMessage</div>
	      <div class="left_contener">
		    <div class="text">
  			Add kindergarten to database:
		    </div>
		    <div class="form">
 	 		  @helper.form(action=routes.KindergartenController.addKindergarten()) {
	  		    @helper.inputText(kindergartenForm("name"))
  			    @helper.inputText(kindergartenForm("street"))
  			    @helper.inputText(kindergartenForm("num"))
  			    @helper.inputText(kindergartenForm("city"))
  			    <button type="submit">Add kindergarten</button>
  			}
		    </div>
	      </div>
  	}
}
