
@(userForm: Form[UserFormData], kindergartens: List[models.Kindergarten])(implicit messages: play.api.i18n.Messages)

@main("Add user") {
@contener {
  
  You can add yourself to our database -> name, contact and location. Fill this form:<br>
  
  @helper.form(action=routes.UserController.addUser()) {
  @helper.inputText(userForm("email"))
  @helper.inputPassword(userForm("password"))
  @helper.inputText(userForm("name"))
  @helper.inputText(userForm("surname"))
  @helper.inputText(userForm("street"))
  @helper.inputText(userForm("city"))
  @helper.select(
  userForm("seats"),
  options = for(i <- 1 to 10) yield (i.toString -> i.toString),
    '_default -> "Number of free seats in your car",
    '_label -> "Seats")

      <button type="submit">Add user</button>
      }

<br><a href="/">homepage</a>
}
}
