@* contener Template File *@
@(content: Html)
<div class="contener">
    <div class="upper_menu">
        <span class="upper_menu_item"><a href="mainboard">MAINBOARD</a></span>
        <span class="upper_menu_item"><a href="findmyparents">CHECK OUT YOUR KINDERGARTEN</a></span>
        <span class="upper_menu_item"><a href="findKindergarten">FIND USERS FROM OTHERS KINDERGARTES</a></span>
        <span class="upper_menu_item"><a href="allkindergartens">LIST OF KINDERGARTENS</a></span>
        <span class="upper_menu_item"><a href="panel">YOUR PANEL</a></span>
        <span class="upper_menu_item"><a href="logout">LOGOUT</a></span>
    </div>
    @content
</div>
