@(mess: String)

@main("Welcome to our Family of Familis") {
/**It needs connection to Mongo DB<br>
  */<br><br>

Welcome to carpooling app for parents! Don't afraid about design. App is in progress.<br><br>
There are plethora possibilites for you.<br>
First, you should check <a href="allkindergartens">here</a> if your kindergarten is added to database.<br>
If not, <a href="kindergarten">create kindergarten</a> and add it to database. Then...<br>
<a href="user">create your accout</a> or<br>
<a href="login">login</a> if you did it previously. You can check your personal data <a href="panel">here<a><br><br>

If you are looking for parents from concrete kindergarten <a href="findKindergarten">click here</a><br><br>

After all <a href="logout">logout</a> please<br><br><br>

<b>current info: @mess<b>

}


