@(mess: String)

@main("Welcome to our Family of Familis") {
/**There are no connection to db.<br>
  *Only Scala containers in memory<br>
  */<br><br>

Welcome to carpooling app for parents! Don't afraid about design. App is in progress.<br>
There are plethora possibilites for you.<br>
First, you should <a href="user">create user</a> or <a href="login">login</a><br><br>
You can <a href="kindergarten">create kindergarten</a> and add them to database<br><br>

If you are looking for parents from concrete kindergarten <a href="findKindergarten">click here</a><br><br>


current info: @mess

}


