@(user: User, sysMessage: String, messageForm: Form[MessageFormData])(implicit messages: play.api.i18n.Messages)

@main("Panel") {
<a href="/">homepage</a> <-> <a href="logout">logout</a><br><br>
@user.name  @user.surname<br>
Address:
@user.street  @user.city<br>
Free seats: @user.seats<br>
Kindergaten:
@user.kindergarten.name, @user.kindergarten.street no. @user.kindergarten.num in @user.kindergarten.city<br>
email:
@user.email<br><br>
<a href="/">homepage</a><br><br>

Reply for requests:<br>
@for(email <- user.requests) {
  @email <a href="/replyforrequest/@email">reply</a> or <a href="/rejectrequest/@email">reject</a><br>
}

<br><a href="/leavegroup">be single => create your new net</a>  or <a href="/deleteuser">Delete myself and take me somewhere else!</a><br><br>

    
Follow with your message:

    @helper.form(action=routes.HomeController.addUserMessage()) {
    @helper.select(
    messageForm("purpose"),
    options = Seq("Looking for free seat" -> "Looking for free seat", "Propose free seat" -> "Propose free seat"),
    '_default -> "Your purpose",
    '_label -> "Purpose")
    @helper.select(
    messageForm("seats"),
    options = for(i <- 1 to 10) yield (i.toString -> i.toString),
      '_default -> "Number of free seats in your car",
      '_label -> "Seats")
    @helper.inputText(messageForm("year"))
    @helper.inputText(messageForm("month"))
    @helper.inputText(messageForm("day"))
    @helper.inputText(messageForm("hour"))
    @helper.inputText(messageForm("minutes"))
    @helper.inputText(messageForm("from"))
    @helper.inputText(messageForm("to"))
    <button type="send">Send message</button>
    }
	      
<br><a href="/">homepage</a><br><br><br>

<br><br><b>Current info: @sysMessage</b>

}
