@(user: User, msg: String)


@user.name  @user.surname<br>
Address:
@user.street  @user.city<br>
Free seats: @user.seats<br>
Kindergaten:
@user.kindergarten.name, @user.kindergarten.street no. @user.kindergarten.num in @user.kindergarten.city<br>
email:
@user.email<br><br>


Reply for requests:<br>
@for(email <- user.requests) {
	      @email <a href="/replyforrequest/@email">reply</a> or <a href="/rejectrequest/@email">reject</a><br>
	      }

<br><a href="/leavegroup">be single => create your new net</a>  or <a href="/deleteuser">Delete myself and take me somewhere else!<a><br><br>
	      
	      
<br><a href="/">homepage</a><br><br><br>

<br><br>Current info: @msg

