@(user: User, sysMessage: String, messageForm: Form[MessageFormData])(implicit messages: play.api.i18n.Messages)

@main("Panel") {
    <div class="contener">
        <div class="upper_menu">
            <span class="upper_menu_item"><a href="mainboard">MAINBOARD</a></span>
            <span class="upper_menu_item"><a href="findmyparents">CHECK OUT YOUR KINDERGARTEN</a></span>
            <span class="upper_menu_item"><a href="findKindergarten">FIND USERS FROM OTHERS KINDERGARTES</a></span>
            <span class="upper_menu_item"><a href="allkindergartens">LIST OF KINDERGARTENS</a></span>
            <span class="upper_menu_item"><a href="panel">YOUR PANEL</a></span>
            <span class="upper_menu_item"><a href="logout">LOGOUT</a></span>
        </div>
        <div class="sysmessage">
            @sysMessage
        </div>
        <div id="personal_data">
            <div class="personal_data_item">
                @user.name  @user.surname
            </div>
            <div class="personal_data_item">
                Address:
                @user.street  @user.city
            </div>
            <div class="personal_data_item">
                Free seats: @user.seats
            </div>
            <div class="personal_data_item">
                Kindergaten:
                @user.kindergarten.name, @user.kindergarten.street no. @user.kindergarten.num in @user.kindergarten.city with admin: @user.kindergarten.admin<br>
            </div>
            <div class="personal_data_item">
                email:
                @user.email
            </div>

            <div id="left_menu">
                <span class="left_menu_item"><a href="/leavegroup">BE SINGLE</a></span> 
                <span class="left_menu_item"><a href="/deleteuser">DELETE YOURSELF</a></span>
                <span class="left_menu_item" ><a href="kindergarten">ADD NEW KINDERGARTEN</a></span>
            </div>
        </div>
        <div id="requests">
            Reply for requests:
            @for(email <- user.requests) {
                @email <a href="/replyforrequest/@email">reply</a> or <a href="/rejectrequest/@email">reject</a>
                }
        </div>
    </div>




}
