@(kindergarten: Kindergarten, loggedUserGroup: List[List[User]], restGroups: List[List[User]], sysMessage: String)

@main("Welcome to our Family of Familis") {
    @contener {
        <div class="sysmessage">@sysMessage</div>
            <div class="left_contener">
    	          <div class="text">
			              Parents from @kindergarten.name on @kindergarten.street in @kindergarten.city: @kindergarten.len @kindergarten.lon<br><br>
    	          </div>
    	          <div class="text">
			              List of users:
    	          </div>
    	          <div class="iterator">
                    @for(groupOfUsers <- loggedUserGroup) {
                        <b>Your group:</b><br>
                        @for(user <- groupOfUsers) {
                            @user.name @user.surname lives on @user.street in @user.city @user.lon @user.len
                            free seats: @user.seats    email: @user.email<br>
                            }
                            }
                            @for(groupOfUsers <- restGroups) {
                                <b>Group:</b><br>
                                @for(user <- groupOfUsers) {
                                    @user.name @user.surname lives on @user.street in @user.city @user.lon @user.len
                                    free seats: @user.seats    email: @user.email
                                    <a href="/sendrequest/@user.email">send request</a><br>
                                    }
                                    }
    	          </div>
                <div id="map">
                    <link rel="stylesheet" href="https://unpkg.com/leaflet@@1.3.1/dist/leaflet.css"
                          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
                          crossorigin=""/>
                    <script src="https://unpkg.com/leaflet@@1.3.1/dist/leaflet.js"
                            integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
                            crossorigin=""></script>
                    <script>var mymap = L.map('map').setView([51.505, -0.09], 13);</script>
                </div>
            </div>
            }
            }
