@(kindergarten: Kindergarten, loggedUserGroup: List[List[User]], restGroups: List[List[User]], sysMessage: String)

@main("Welcome to our Family of Familis") {
    @contener {
        <div class="sysmessage">@sysMessage</div>
            <div class="left_contener">
                <div id="mapdiv" style="height: 500px"></div>
                <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
                <script src="/assets/javascripts/map.js"></script>
                <script>
					 var map = addMapLayer("mapdiv");
					 setCenterAndZoom(@kindergarten.lon, @kindergarten.lat, map)
					 var markers = addMarkersLayer(map)
					setMarker(@kindergarten.lon, @kindergarten.lat, markers, "@kindergarten.name")						                

                
                </script>
                <div class="text">
			              Parents from @kindergarten.name on @kindergarten.street in @kindergarten.city: @kindergarten.lat @kindergarten.lon<br><br>
                </div>
                <div class="text">
			              List of users:
                </div>
                <div class="iterator">
                    @for(groupOfUsers <- loggedUserGroup) {
                        <b>Your group:</b><br>
                        @for(user <- groupOfUsers) {
                            @user.name @user.surname lives on @user.street in @user.city @user.lon @user.lat
                            free seats: @user.seats    email: @user.email<br>
                            <script>setMarker(@user.lon, @user.lat, markers, "@user.email")</script>
                            }
                            }
                            @for(groupOfUsers <- restGroups) {
                                <b>Group:</b><br>
                                @for(user <- groupOfUsers) {
                                    @user.name @user.surname lives on @user.street in @user.city @user.lon @user.lat
                                    free seats: @user.seats    email: @user.email
                                    <a href="/sendrequest/@user.email">send request</a><br>
		                            <script>setMarker(@user.lon, @user.lat, markers, "@user.email")</script>
                                    }
                                    }
                </div>

                
            </div>
            }
            }
