@(appMessages: List[Message],  sysMessage: String, messageSearchForm: Form[MessageSearchFormData])(implicit messages: play.api.i18n.Messages)

@main("Timeline") {
<a href="/">homepage</a> <-> <a href="logout">logout</a><br><br>

This is your timeline!!! <br>
Filter it:<br><br>

  @helper.form(action=routes.MessageController.filterMessages()) {
  @helper.select(
  messageSearchForm("kind"),
  options = Seq("all" -> "all","look-for-free-seats" -> "look for free seats", "propose-free-seats" -> "propose free seats", "community-messages" -> "community messages"),
  '_label -> "Choose kind of messages")

  @helper.select(
  messageSearchForm("area"),
  options = Seq("all" -> "all", "your-city" -> "your city", "your-kindergarten" -> "your kindergarten"),
  '_label -> "Area of messages")
  <button type="submit">Search</button>
  }

 <br><b>Current info: @sysMessage</b><br><br>
  
  @for(message <- appMessages) {
		  @message.toString<br><br>
		  }
		  }
<br><br><a href="/">homepage</a>
