@(userMessages: List[UserMessage], globalMessages: List[GlobalMessage])

@main("Welcome to our Family of Familis") {
    This is your timeline: <br>
    Filter: <a href="/timeline"> All</a> <a href="/filterMessages/look-for-free-seat">looking for free seat</a>,
    <a href="/filterMessages/propose-free-seat">propose free seat</a>,
    <a href="/filterMessages/my-kindergarten">your kindergarten</a>
    <a href="/globalMessages">global messages</a><br><br>
    <a href="/">homepage</a><br><br>
    @for(message <- userMessages) {
      @message.toString
    }
    <br><br>
    There are global messages: <br>
    @for(message <- globalMessages.reverse) {
      @message.toString<br>
    }
}
